@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	min-width: 1000px;
	min-height: 1200px;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	background-color:#eee;
	font-family: nanumgothic;
}
